.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to left, #243642 0%, #387478 100%); /* Aplica el degradado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftSection {
  display: flex;
  gap: 28px; 
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLink {
  color: #E2F1E7;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLink.active {
  text-decoration: underline;
  color: #243642;
}

.logo {
  width: 40px; /* Tamaño del logo */
  height: auto;
}

.userName {
  color: #E2F1E7; /* Color de texto */
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.userName:hover {
  color: #243642; /* Color al pasar el cursor */
}
